a_winsstat=zeros(2000000,1);
b_winsstat=zeros(2000000,1);
a_w=0;
b_w=0;
for nn=1:2000000
    p_a=zeros(80,1);
    p_b=zeros(80,1);
    stack=zeros(52,1);
    for aces=1:4
        p_a(aces,1)=14;
    end
    rp=randperm(48).';
    % rp=(1:1:48).';
    for bplay=1:48
        p_b(rp(bplay),1)= ceil(bplay/4+1);
    end
    stk_a=4;
    stk_b=48;
    itr=0;
    while (stk_a>0 && stk_b>0)
        stack=zeros(52,1);
        wturn=0;
        itr=itr+1;
        stack_a=find(p_a,1,'last');
        stack_b=find(p_b,1,'last');
        if stack_a+stack_b~=52
           break 
        end
        cardnr=1;
        for cnr=1:2:25
            if p_a(cnr,1)==p_b(cnr,1)
                cardnr=cnr;
            else
                break;
            end
        end
        if p_a(cardnr,1)>p_b(cardnr,1)
            wturn=1;
        else
            wturn=2;
        end
        for stc=1:cardnr
            stack(stc*2-1,1)=p_a(stc,1);
            stack(stc*2,1)=p_b(stc,1);
            p_a(stc,1)=0;
            p_b(stc,1)=0;
        end
        rp_2=randperm(cardnr*2).';
        if wturn==1
            for trn=1:cardnr*2
                p_a(stack_a+trn,1)=stack(rp_2(trn),1);
            end
        else
            for trn=1:cardnr*2
                p_b(stack_b+trn,1)=stack(rp_2(trn),1);
            end
        end
        for j=1:52
            p_a(j,1)=p_a(j+cardnr,1);
            p_b(j,1)=p_b(j+cardnr,1);
        end
        stk_a=sum(p_a);
        stk_b=sum(p_b);
    end
    if stk_a>stk_b
        a_w=a_w+1;
        a_winsstat(a_w,1)=itr;
    else
        b_w=b_w+1;
        b_winsstat(b_w,1)=itr;        
    end
end
a_witr=sum(sum(a_winsstat))/a_w;
b_witr=sum(sum(b_winsstat))/b_w;
a_sort=sort(a_winsstat,1);
b_sort=sort(b_winsstat,1);
histogram(a_winsstat(1:a_w),50)
W=zeros(2,1);
W(1,1)=a_w;
W(2,1)=b_w;
labels={'Ace start','Other Cards start'};
pie(W,labels);
